.custom-scrollbar-track {
  position: fixed;
  right: 2.5vw;
  top: 50%;
  transform: translateY(-50%);
  height: 30vh;
  width: 3px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  z-index: 10002;
  pointer-events: none;
  /* Premium adaptive magic: Inverts color based on bg */
  mix-blend-mode: difference;
}

.custom-scrollbar-thumb {
  position: absolute;
  left: 0px;
  width: 3px;
  height: 8vh;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

